<mat-toolbar color="primary">
 <span>
     <button mat-button routerLink="">My List</button>
  </span>
  <span class="spacer">  </span>

  <!-- Menu Start -->
  <button mat-button routerLink="/animes">Animes</button>
  <button *ngIf="!_auth.loggedIn()" [matMenuTriggerFor]="menu" mat-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <div>
      <button mat-button routerLink="/register">Register</button>
    </div>
    <div>
      <button mat-button routerLink="/login">Login</button>
    </div>
  </mat-menu>
  <!-- Menu End -->

</mat-toolbar>

