<mat-toolbar color="primary">
 <span>
     <button mat-button routerLink="">My List</button>
  </span>
    <span class="spacer">  </span>

    <!--Unread Messages Starts -->
    <button *ngIf="_auth.loggedIn()" [matBadge]="nMessages?nMessages:null" mat-button matBadgeColor="warn"
            routerLink="/profile/mails/received">
        <mat-icon>email</mat-icon>
    </button>
    <!--Unread Messages End-->

    <!--Friend Requests Starts -->
    <button mat-button [matBadge]="nfriendRequests?nfriendRequests:null" matBadgeColor="warn"
            [matMenuTriggerFor]="friends">
        <mat-icon svgIcon="friends" [ngStyle]="{'color': '#ffffff'}"></mat-icon>
    </button>
    <mat-menu #friends="matMenu" class="dropdown-menu">
        <div mat-menu-item *ngFor="let fr of friendRequests">
            <img [src]="fr.friend.picture" height="20px" width="20px"> {{fr.friend.username}}
            <button mat-button color="accent" (click)="acceptFriend(fr)"> Accept Request</button>
        </div>
        <div mat-menu-item *ngIf="!nfriendRequests">
            No Friend Requests To Show
        </div>
    </mat-menu>
    <!--Friend Requests End-->

    <button *ngIf="_auth.isAdmin()" mat-button routerLink="/animes/addAnime">Add Anime</button>
    <button fxHide.lt-sm fxShow.gt-sm mat-button routerLink="/animes">Animes</button>
    <button [matMenuTriggerFor]="profile" mat-button>Menu</button>
    <mat-menu #profile>
        <div>
            <button mat-button routerLink="/profile/animelist">Anime List</button>
        </div>
        <div>
            <button mat-button routerLink="/profile">Profile</button>
        </div>
        <div>
            <button mat-button routerLink="/users">Users</button>
        </div>
        <div fxHide fxShow.lt-sm>
            <button mat-button routerLink="/animes">Animes</button>
        </div>
        <div>
            <button mat-button style="cursor: pointer" (click)="logout()">Logout</button>
        </div>
    </mat-menu>
</mat-toolbar>

