<table mat-table [dataSource]="watched" class="mat+-elevation-z8">
  <ng-container matColumnDef="Anime">
    <th mat-header-cell *matHeaderCellDef> Watched</th>
    <td mat-cell *matCellDef="let anime">
      <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<table mat-table [dataSource]="watching" class="mat-elevation-z8">
  <ng-container matColumnDef="Anime">
    <th mat-header-cell *matHeaderCellDef> Watching</th>
    <td mat-cell *matCellDef="let anime">
      <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<table mat-table [dataSource]="dropped" class="mat-elevation-z8">
  <ng-container matColumnDef="Anime">
    <th mat-header-cell *matHeaderCellDef> Dropped</th>
    <td mat-cell *matCellDef="let anime">
      <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<table mat-table [dataSource]="planToWatch" class="mat-elevation-z8">
  <ng-container matColumnDef="Anime">
    <th mat-header-cell *matHeaderCellDef> Plan To Watch</th>
    <td mat-cell *matCellDef="let anime">
      <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<table mat-table [dataSource]="onHold" class="mat-elevation-z8">
  <ng-container matColumnDef="Anime">
    <th mat-header-cell *matHeaderCellDef> On Hold</th>
    <td mat-cell *matCellDef="let anime">
      <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
