<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{mail.title}}
        </mat-card-title>
    </mat-card-header>
    <p> From: <a [routerLink]="['/profile',mail.senderId]">{{mail.sender.username}}</a></p>
    <p> To: {{mail.recipient.username}}</p>
    <p></p>
    <p>
        {{mail.message}}

        <button *ngIf="mail.recipientId==_auth.getId()" [queryParams]="{recipient: mail.senderId}"
                [routerLink]="['/profile/mails/create']" mat-button>Reply
        </button>
</mat-card>
