<mat-card>
  <mat-card-header>
    <mat-card-title>
      Add Anime
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="addanimeForm" (submit)="addAnime()" autocomplete="on">
    <div>
      <mat-form-field>
        <input matInput id="name" formControlName="name" placeholder="name" name="name" type="text" required/>
        <mat-error *ngIf="addanimeForm.get('name').hasError('required')">Please add a name</mat-error>
        <mat-error *ngIf="addanimeForm.get('name').getError('exists')">Anime already exists</mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
      <mat-form-field>
        <textarea matInput formControlName="description" rows="6" placeholder="description" required></textarea>
        <mat-error *ngIf="addanimeForm.get('description').invalid">Please Enter a description</mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
      <mat-form-field>
        <input  type="number" matInput formControlName="episodes" placeholder="episodes" required/>
        <mat-error *ngIf="addanimeForm.get('episodes').invalid">Please Enter the number of episodes</mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
      <button mat-button (click)="Imginput.click(); $event.preventDefault()">Image</button>
      <input #Imginput (change)="ImageUploader($event)" type="file" accept="image/*" hidden="hidden" required>
    </div>
    <mat-error *ngIf="addanimeForm.get('image').invalid && imageChanged">Please Choose a Valid Image</mat-error>
    <img *ngIf="imageUrl && addanimeForm.get('image').valid" [src]="imageUrl" [alt]="addanimeForm.value.name" required>
    <p></p>
    <p></p>
    <button mat-button [disabled]="addanimeForm.invalid">Add Anime</button>
  </form>
</mat-card>


