<mat-spinner *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" fxFlex="1 1 80%" fxFlex.lt-md="auto" fxLayout="column">
    <p>
        <input (search)="getAnimes()" [(ngModel)]="search" matInput placeholder="Search Anime" type="search">
    </p>

    <table (matSortChange)="sortAnimes($event)" [dataSource]="allAnimes" class="mat-elevation-z8" fxFlex mat-table
           matSort>

    <!-- Anime Start-->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Anime</th>
      <td *matCellDef="let anime" mat-cell>
        <a [routerLink]="['/animes',anime._id]">{{anime.name}}</a>
      </td>
    </ng-container>
    <!-- Anime Endt-->

        <!-- Score Start-->
        <ng-container matColumnDef="score">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Score</th>
            <td *matCellDef="let anime" mat-cell>
                <mat-icon color="primary" svgIcon="star"></mat-icon>
                {{(anime.score === 'N/A') ? anime.score : (anime.score | number:'1.0-2')}}
            </td>
        </ng-container>
        <!-- Score End-->

        <!-- Rating Start-->
        <ng-container matColumnDef="rating">
            <th *matHeaderCellDef mat-header-cell> Your Rating</th>
            <td *matCellDef="let anime" mat-cell>
                <mat-icon *ngIf="anime.rating.rating != 'N/A'" color="primary" svgIcon="star"></mat-icon>
                <mat-icon *ngIf="anime.rating.rating =='N/A'" color="primary" svgIcon="star_outline"></mat-icon>
                <mat-form-field [ngStyle]="{'width':'35px'}">
                    <mat-select (selectionChange)="rateAnime(anime)" [(ngModel)]="anime.rating.rating">
                        <mat-option *ngFor="let score of [1,2,3,4,5,6,7,8,9,10]" [value]="score">
                            {{score}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <!-- Rating End-->

        <!-- Status Start-->
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let anime" fxLayoutAlign="center" mat-cell>
                <button (click)="Add(anime)" *ngIf="!anime.status" mat-button>Add</button>
                <div *ngIf="anime.status">
                    <mat-form-field [ngStyle]="{'width':'130px'}">
                        <mat-select [(value)]="anime.status">
                            <mat-option value="Plan To Watch">Plan To Watch</mat-option>
                            <mat-option value="Watching">Watching</mat-option>
                            <mat-option value="Watched">Watched</mat-option>
                            <mat-option value="Dropped">Dropped</mat-option>
                            <mat-option value="On Hold">On Hold</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [ngStyle]="{'width':'45px'}">
                        <input [(ngModel)]="anime.watchedEpisodes" [defaultValue]="anime.watchedEpisodes"
                               [max]="anime.episodes"
                               label="episodes" matInput
                               min="0" type="number">
                    </mat-form-field>
                    / {{anime.episodes}}
                    <mat-error *ngIf="errors.invalid"> Please enter a valid number</mat-error>
                    <button (click)="Update(anime)" mat-button>
                        Update
                    </button>
                </div>
            </td>
        </ng-container>
        <!-- Status End-->

        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let myRowData; columns: columnsToDisplay" mat-row></tr>
    </table>
    <mat-paginator (page)="changePage($event)" [length]="animesCount" [pageIndex]="pageNumber"
                   [pageSizeOptions]="[1,2,5,10]"
                   [pageSize]="pageSize" class="mat-elevation-z8"></mat-paginator>
</div>


