<mat-tab-group (focusChange)="tabChange($event)">
  <mat-tab label="Received">
    <div fxFlex="1 1 80%" fxLayoutGap="20px">
      <mat-card *ngFor="let mail of received" class="mat+-elevation-z8" fxFill
                fxLayoutAlign="center center">
        <mat-card-header>
          <p>
            Sender : {{mail.sender.username}}
          </p>
        </mat-card-header>
        <mat-card-content>
          <p>
            title: {{mail.title}}
          </p>
          <p *ngIf="!mail.read">Message Unread</p>
          <button [routerLink]="['/profile/mails',mail._id]" mat-button> Read</button>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator (page)="changePage($event)" [length]="receivedCount" [pageIndex]="pageNumber"
                   [pageSizeOptions]="[1,2,5,10]"
                   [pageSize]="pageSize" class="mat-elevation-z8"></mat-paginator>
  </mat-tab>
  <mat-tab label="Sent">
    <div fxFlex="1 1 80%" fxLayoutGap="20px">
      <mat-card *ngFor="let mail of sent" class="mat+-elevation-z8" fxFill
                fxLayoutAlign="center center">
        <mat-card-header>
          <p>
            Recipient : {{mail.recipient.username}}
          </p>
        </mat-card-header>
        <mat-card-content>
          <p>
            title: {{mail.title}}
          </p>
          <button [routerLink]="['/profile/mails',mail._id]" mat-button> Read</button>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator (page)="changePage($event)" [length]="sentCount" [pageIndex]="pageNumber"
                   [pageSizeOptions]="[1,2,5,10]"
                   [pageSize]="pageSize" class="mat-elevation-z8"></mat-paginator>
  </mat-tab>
</mat-tab-group>

