<mat-card>
  <mat-card-header>
    <mat-card-title>
      Send Message
    </mat-card-title>
  </mat-card-header>

  <div>
    Recipient : {{recipient}}
  </div>

  <form [formGroup]="mailForm">

    <!--Title Start-->
    <div>
      <mat-form-field>
        <input formControlName="title" id="title" matInput name="title" placeholder="title" required type="text"/>
        <mat-error *ngIf="mailForm.get('title').hasError('required')">Please Enter A Title</mat-error>
        <mat-error *ngIf="mailForm.get('title').hasError('maxlength')">Title Too Long</mat-error>
      </mat-form-field>
    </div>
    <!--Title End-->

    <!--Message Start-->
    <div>
      <mat-form-field>
        <textarea formControlName="message" id="message" matInput name="message" placeholder="message" required
                  rows="10" type="text"></textarea>
        <mat-error *ngIf="mailForm.get('message').hasError('required')">Please Enter A Message</mat-error>
      </mat-form-field>
    </div>
    <!--Message End-->

    <button (click)="sendMail()" mat-button> Send Mail</button>
  </form>
</mat-card>


