<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
  </mat-card-header>
  <form class="form" [formGroup]="loginForm" (submit)="loginUser()" autocomplete="on">
    <div>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="email" name="email" type="text" class="form-control rounded-0"
               autocomplete="email" required/>
        <mat-error *ngIf="loginForm.get('email').invalid">
          Invalid email
        </mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="password" name="password" type="password"
               class="form-control rounded-0"
               autocomplete="new-password" required/>
        <mat-error *ngIf="loginForm.get('password').invalid">
          Invalid password
        </mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <button [disabled]="loginForm.invalid" mat-button>Login</button>
    <mat-error *ngIf="errors.MAX_ATTEMPTS" class="alert alert-warning" role="alert"> Too many login attempts, this
      account has been locked. Please wait 1h before attempting again.
    </mat-error>
    <mat-error *ngIf="errors.WRONG_CREDITENTIALS" class="alert alert-warning" role="alert"> Username and/or password
      is incorrect. Please try again.
    </mat-error>
  </form>
</mat-card>


