<mat-card>
  <mat-card-header>
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card-header>
  <form class="form" [formGroup]="registrationForm" (submit)="registerUser()" autocomplete="on">
    <div>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="email" name="email" type="text"
               class="form-control rounded-0"
               autocomplete="email" required/>
        <mat-error *ngIf="registrationForm.get('email').hasError('required')">Please Enter an email</mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="password" name="password" type="password"
               class="form-control rounded-0"
               autocomplete="new-password" required/>
        <mat-error *ngIf="registrationForm.get('password').hasError('required')">Please Enter a password</mat-error>
        <mat-error *ngIf="registrationForm.get('password').hasError('pattern')">Password should be between 6 and 20
          character long, contain at least a lower case letter, an upper case letter nd a digit
        </mat-error>
      </mat-form-field>
    </div>
    <p></p>
    <p></p>
    <div>
    </div>
    <p></p>
    <re-captcha formControlName="recaptcha"
                [siteKey]="captcha_key"></re-captcha>
    <p></p>
    <button mat-button [disabled]="registrationForm.invalid">Register</button>
    <div *ngIf="errors.emailExists"> Email already taken. Please choose an other one</div>

  </form>
</mat-card>

